#:schema node_modules/wrangler/config-schema.json
name = "landing-page"
main = "src/worker.ts"
compatibility_date = "2024-12-23"

# Serve static assets from dist directory
assets = { directory = "dist" }

[observability]
enabled = false
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = false
persist = true
head_sampling_rate = 1